body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #f0c067, #db8a07);
    color: #2e2b2b;
}

header {
    text-align: center;
    margin: 20px 0;
    padding: 0 10px;
}

header h1 {
    font-size: 3rem;
    color: #2d6a4f;
}

header p {
    font-size: 1.5rem;
    color: #1b4332;
}

main {
    width: 90%;
    max-width: 800px;
    background-color: #fcfcfc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    color: #2d6a4f;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: url('chocolate_chip.svg') no-repeat left center;
    padding-left: 30px;
    margin-bottom: 10px;
}

footer {
    background-color: #e67d06;
    color: #fff;
    width: 100%;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px;
}

.logo {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
}

.company-info,
.contact-form {
    max-width: 100%;
    flex: 1;
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 5px 0;
}

form input,
form textarea {
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
}

form button {
    padding: 10px;
    background-color: #1b4332;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #14522e;
}

.Image2 {
    margin: 20px auto;
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
    height: auto;
}

.images h3 {
    margin: 0;
    text-align: left;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1.2rem;
    }

    main {
        width: 95%;
        padding: 15px;
    }

    h2 {
        font-size: 1.8rem;
    }

    .footer-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}